*.swp

# OSX
*.DS_Store
.DS_Store

# Temporary files
*~
\#*\#
.#*

*.html
*.htm
BLB-*.mbox
*.txt
*.dat
*.ast
*.pyc
*.json
*.org

data-files/*
raw-asts/*
fg-data-files/*
*.db
*.db.backup
.cache/*
tests/.cache/*

.ropeproject/*
